version: "3.9"

services:
  app:
    build:
      context: https://github.com/matiasperelli/Grupo15-2025-PROYINF.git#main
      dockerfile: Dockerfile
    container_name: node_app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DB_HOST: postgres_db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: mi_base
      DB_PORT: 5432
    depends_on:
      postgres_db:
        condition: service_healthy

  postgres_db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mi_base
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mi_base"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  db-data:
